{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-property-sort-order-smacss"
  ],
  "plugins": [
    "stylelint-prettier"
  ],
  "rules": {
    "prettier/prettier": [
      true,
      {
        "tabWidth": 2,
        "trailingComma": "none",
        "singleQuote": false,
        "quoteProps": "preserve"
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "at-root",
          "mixin",
          "include",
          "content",
          "function",
          "for",
          "each",
          "if",
          "return",
          "else",
          "use",
          "forward"
        ]
      }
    ],
    "block-no-empty": null,
    "declaration-colon-newline-after": null,
    "declaration-block-trailing-semicolon": null,
    "length-zero-no-unit": [
      true,
      {
        "ignore": ["custom-properties"]
      }
    ],
    "max-empty-lines": 1,
    "no-descending-specificity": null,
    "no-empty-source": null,
    "number-leading-zero": "always",
    "string-quotes": "double",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "local"]
      }
    ],
    "value-list-comma-newline-after": null
  }
}
